
@{
    ViewData["Title"] = "appl_searc";
}

<h1>appl_searc</h1>
<script>
    function appl_searc(id) {        
        window.alert(id);
        document.getElementById("hf").value=id;
    }
    function budget_check(obj,amt) {
        var emp = JSON.parse(obj);
        var lst="",count=0;
        for (var i = 0; i < emp.length; i++) {
            if (emp[i].des_sal <= amt) {
                lst += emp[i].Id + " " + emp[i].des_sal + "\n";
                count++;
            }
        }
        window.alert(count + " applicants\n"+ lst);
    }
</script>
@using System.Data.SqlClient
@using System.Text
@using System.Text.Json
@using System.Text.Json.Nodes
@using System.Text.Json.Serialization
@{
    List<Applicant> applicants = new List<Applicant>();    
    get_appl(out applicants);
    var j_data = JsonSerializer.Serialize(applicants);
    <input id="hf_emp" type="hidden" value="@j_data" />
    foreach(Applicant applicant in applicants)
    {
        @applicant.Id @applicant.Name @applicant.email @applicant.phone @applicant.job_pos @applicant.des_sal @applicant.dateTime<br />
    }   
    List<SelectListItem> opt = new List<SelectListItem>();
    foreach(var option in applicants){
        opt.Add(new SelectListItem{Text=option.Id.ToString(),Value=option.Id.ToString()});
    }
    @Html.DropDownList("option", (IEnumerable<SelectListItem>)opt)
    <input type="button" value="select applicant" onclick="appl_searc(document.getElementById('option').value)" />
    <form method="post" action="Rec_admin">
        @Html.Hidden("hf")
        <input type="submit" />
    </form>
    <input id="max_amt" type="number" />
    <input type="button" value="get applicants" onclick="budget_check(document.getElementById('hf_emp').value,document.getElementById('max_amt').value)" />
}
@functions{
    public void get_appl(out List<Applicant> applicants){
        var builder = WebApplication.CreateBuilder();
        string constr = builder.Configuration.GetConnectionString("Default");
        SqlConnection sqlConnection = new SqlConnection(constr);
        sqlConnection.Open();
        SqlCommand sqlCommand = new SqlCommand(constr, sqlConnection);
        sqlCommand.Connection = sqlConnection;
        sqlCommand.CommandText = "select * from [dbo].[table]";
        SqlDataReader sqlDataReader = sqlCommand.ExecuteReader();
        applicants = new List<Applicant>();        
        while (sqlDataReader.Read())
        {
            Applicant applicant = new Applicant();
            applicant.Id =(int) sqlDataReader["id"];
            applicant.Name =(string) sqlDataReader["name"];
            applicant.email =(string) sqlDataReader["email"];
            applicant.phone =(string) sqlDataReader["phone"];
            applicant.job_pos =(string) sqlDataReader["job_pos"];
            applicant.des_sal =(double) sqlDataReader["des_sal"];
            applicant.dateTime =(DateTime) sqlDataReader["dateTime"];
            applicants.Add(applicant);            
        }
    }    
}