@model Applicant
@{
    ViewData["Title"] = "Rec_admin";
}

<h1>Rec_admin</h1>
<script>
    function get_file(fn){
        window.alert(fn);
        document.getElementById("hf").value=fn;
    }
</script>
@Model.Name<br />
@Model.email<br />
@Model.phone<br />
@Model.job_pos<br />
@Model.des_sal<br />
@Model.dateTime<br />
@foreach(appl_files appl_Files in Model.appl_files)
{
    @appl_Files.filename<br />
    @appl_Files.filetype<br />
    if (appl_Files.filetype == "image/jpeg" || appl_Files.filetype == "image/jpg" || appl_Files.filetype == "image/png" || appl_Files.filetype == "image/bmp")
    {
        byte[] img_b = appl_Files.data;
        string img_s = Convert.ToBase64String(img_b, 0, img_b.Length);
        string img = "data:image/jpg;base64," + img_s;
        <img src="@img" /><br />
    }
}
@{
    List<SelectListItem> opt = new List<SelectListItem>();
    foreach(appl_files files in Model.appl_files)
    {
        opt.Add(new SelectListItem { Text = files.filename, Value = files.filename });
    }
    @Html.DropDownList("option", (IEnumerable<SelectListItem>)opt)
    <input type="button" value="select file" onclick="get_file(document.getElementById('option').value)" />
    <form method="post" action="ext_file">
        @Html.Hidden("hf")
        @Html.Hidden("hf_em",Model.email)
        <input type="submit" value="extract" />
    </form><hr />
    <form method="post" action="add_prof">
        <label for="edu">education history</label><br />
        @Html.TextArea("edu", "inst,area of study,1999/1/1,2000/1/1", new { @cols = "100", @rows = "2" })<br />
        <label for="">work history</label><br />
        @Html.TextArea("work", "org,job title,2001/1/1,2002/1/1", new { @cols = "100", @rows = "2" })<br />
        <input name="p_em" type="email" value="@Model.email" />
        <input type="submit" value="add profile" />
    </form><hr />
    <form method="post" action="view_prof">
        <input name="hf_em" type="hidden" value="@Model.email" />
        <input type="submit" value="view profile" />
    </form>
}